<div class="six columns">
  <span>Album Name:</span>
  <div class="row" *ngFor="let album of albums">
    <strong class="seven columns"><a (click)="getTracks(album)">{{album.name}}</a></strong>
    <button class="two columns" (click)="delete(album); $event.stopPropagation()">x</button>
    <a class="two columns" [routerLink]="['/album', album.id]">Album Page</a>
  </div>

  <div>
    <label>Add a new album:</label> <input placeholder="album name" #albumName/>
    <button  (click)="add(albumName.value); albumName.value=''">
      Add
    </button>
  </div>
</div>

<div class="six colums">
<app-tracks [album]="album"></app-tracks>
</div>