<div>
  <h1>Add an Album</h1>
  <form #albumForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required minlength="1"
      [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
     class="alert alert-danger">
        Name is required
      </div>

      TODO REMOVE: {{model.name}}
    </div>

    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>